// pop index page
$mosaics-gap: 10px;
.pop-index {

    .mosaics {
        flex: auto;
        @include displayFlex;
        flex-flow: column wrap;
        margin-left: -$mosaics-gap; /* Adjustment for the gutter */
        width: 100%;
        justify-content: flex-start;


        &__details {
            h3 {
                font-size: modular-scale(2, 1em);
            }
        }

        &__cell {
            width: calc(33.33%);
            @include padding(null null 10px null);
            border-bottom: 1px solid $secondary-color;
            margin: 0 $mosaics-gap $mosaics-gap 0; /* Some gutter */
            box-sizing:border-box;
        }
        img {
            width: 100%;
            height: auto;
        }
    }

    .img-placeholder {
        box-sizing:border-box;
        @include displayFlex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 300px;
        background-color: $secondary-color;
    }

    .card {

        @include margin(null null 10px null);


    }
}
