$arrow-size: 15px;
.accordion {
    max-height: clamp(400px, 30%, 100vh);
    overflow-y: auto;
    overflow-x: hidden;
    &__title {
        position: relative;
        border: none;
        text-align: left;
        font-size: medium;
        display: block;
        width: 100%;
        background-color: transparent;
        border-bottom: 1px solid darken($c-light, 20%);
        @include padding($arrow-size $arrow-size/2);
        @extend .border-bottom;

        &:hover {
            background-color: rgba($c-gray-light, 0.8);
        }
        &::after {
            content: '';
            display: block;
            position: absolute;
            width: $arrow-size;
            height: $arrow-size;
            transform: rotate(45deg) !important;
            border-right: black 1px solid;
            border-top: black 1px solid;
            right: $arrow-size;
            top: $arrow-size;
            transition: 200ms all ease-in-out;

        }

    }
    &--opened {
        background-color: rgba($c-gray-light, 0.8);
        &::after {
            transform: rotate(135deg) !important;
        }
    }
    &__content {
        padding-top: 10px;
        padding-left: 10px;
    }
}
