.badge {
    &--flex {
        @extend .text-small;
        @include displayFlex;
        margin-right: 4px;
        padding: 4px 8px;
        &:last-child {
            margin-left: 0;
        }
    }
}
