.button {
    &--close {
        margin: auto;
        margin-left: 4px;
        padding: 1px;
        border-radius: 100%;
        background-color: transparent;
        text-align: center;
        line-height: 10px;
        &:active,
        &:hover,
        &:focus {
            background-color: rgba(255, 255, 255, 0.1);
            opacity: .8;
        }
    }

    &--control {
        background-color: transparent;
        color: $c-gray;
        stroke: $c-gray;
        &:active,
        &:hover,
        &:focus {
            background-color: transparent;
            color: rgba($c-gray, .8);
            stroke: rgba($c-gray, .8);
            opacity: .8;
        }
    }

}
