header {
    grid-column: 1/span 12;
    border-bottom: $secondary-color 1px solid
}

.header {
    @include displayFlex;
    justify-content: space-between;
    line-height: 30px;
    height: $header-height;
    @include padding(null 24px);

    &__title {
        @include margin(auto null);

        h1 {
            @extend .text-huge;
            margin-bottom: 0 !important;
        }

        .subtitle {
            color: $secondary-color;
        }
    }

    &__nav {
        @include margin(auto null);

        a {
            text-decoration: none;
            color: $secondary-color;
            padding-top: $header-height / 4;
            padding-bottom: $header-height / 4;

            margin-right: 20px;
            padding-right: 10px;
            padding-left: 10px;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                color: white;
                background: black;
                transition: 100ms color ease-out, background-color 250ms ease-in;

            }

            &.active {
                color: black;

                &:hover {
                    color: black;
                    background-color: white;
                }
            }

        }
    }
}
