$w: 20em;
$h: 1em;
@mixin track() {
    background: none; /* get rid of Firefox track background */
    height: 100%;
    width: 100%;
}

@mixin thumb() {
    background: white;
    border: solid 2px rgba(100, 100, 100, 0.2);
    border-radius: 100%;
    pointer-events: auto; /* catch clicks */
    width: $h; height: $h;
    &:hover, &:focus, &:active {
        border: solid 2px rgba(100, 100, 100, 0.8);
    }
}

input[type='range'] {
    grid-column: 1/span 2;
    grid-row: 2;

    &::-webkit-slider-runnable-track,
    &::-webkit-slider-thumb, & {
        -webkit-appearance: none;
        z-index: 1;
    }

    /* same as before */
    background: none; /* get rid of white Chrome background */
    color: #000;
    font: inherit; /* fix too small font-size in both Chrome & Firefox */
    margin: 0;
    pointer-events: none; /* let clicks pass through */

    &::-webkit-slider-runnable-track { @include track; }
    &::-moz-range-track { @include track; }

    &::-webkit-slider-thumb { @include thumb; }
    &::-moz-range-thumb { @include thumb; }
}

.slider {
    --dif: calc(var(--max) - var(--min));
    display: grid;
    grid-template-rows: max-content $h;
    margin: 1em auto;
    // same as before
    //overflow: hidden; // in case <label> elements overflow
    position: relative;
    /* same as before */
    background: /* emulate track with wrapper background */
        linear-gradient(0deg, transparent $h / 3, #EEE $h / 3, #EEE $h / 3 * 2, transparent 0);

    .sr-only {
        position: absolute;
        clip-path: inset(50%);
    }

    &::before, &::after {
        grid-column: 1/ span 2;
        grid-row: 3;
        height: $h;
        margin-top: -1 * $h;
        background: linear-gradient(0deg, transparent $h / 3, #000 $h / 3, #000 $h / 3 * 2, transparent 0);;
        content: ''
    }

    &::before {
        margin-left: calc((var(--start) - var(--min))/var(--dif)*100%);
        width: calc((var(--end) - var(--start))/var(--dif)*100%)
    }

    &::after {
        margin-left: calc((var(--end) - var(--min))/var(--dif)*100%);
        width: calc((var(--start) - var(--end))/var(--dif)*100%)
    }
}
