

table {
    border-collapse: collapse;
    display: inline-block;
    text-align: left;
}
table thead {
    background: #eae9e9;
}
table tr:nth-child(even) {
    background: lighten(#eae9e9, 6);
}
table th, table td {
    padding: 10px 20px;
}
/*responsive table*/
@media screen and (max-width: 1000px) {
    /*put each field on its own line and align text to the right
     *border is added for further readability
     */
    table td {
        display: block;
        text-align: right;
    }
    /*put data-label content before each field floated to the left*/
    table td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        margin-right: 10px;
    }
    /*remove thead*/
    table thead {
        display: none;
    }
}

.table__pagination {
    margin: auto;
    margin-top: 10px;
}
