.masonry { /* Masonry container */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
}

.item { /* Masonry bricks or child elements */
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
    @extend .border;
    color: black;
    overflow: hidden;
    transition: background-color 200ms ease-in;
    .image-container {
        overflow: hidden;
        @extend .pb-small;
        transition: background-color 200ms ease-in;
    }

    img {
        transition: transform 400ms ease-out, opacity 300ms ease-in;
    }
    &:hover {
        cursor: pointer;
        color: black;
        background: $c-gray-light;
        .image-container {
            background-color: black;
        }

        img {
            transform: scale(1.1);
            opacity: 0.5;
        }
    }
    grid-column: span 1;
    grid-row: span 2;
    &--featured {
        grid-column: span 2;
        grid-row: span 3;

    }
}
