.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2em;
    line-height: 2em;
}
.col-span-1 {
    grid-column: span 1;
}

.col-span-2 {
    grid-column: span 2;
    img {
        object-fit: cover;
        width: 100%;
    }
}

.main {

    @include media-breakpoint-up(md) {
        padding-left: $w-gutter;
        padding-right: $w-gutter;
    }
    max-width: $mwi-container-medium - 300;
    padding-left: $w-gutter / 2;
    padding-right: $w-gutter / 2;

}

.blog-nav {
    margin: 0 auto;
    @extend .container-medium;
    padding: 1.5em 0;
    color: black;
    text-align: center;

    &__item {
        a {
            color: black;
            transition: background-color 200ms ease-in;
            &:hover {
                background-color: $c-gray-light;
                .arrow-to-right {
                    @include animation(anim-to-right 1s infinite );
                }
                .arrow-to-left {
                    @include animation(anim-to-left 1s infinite );
                }
            }
            padding: 2em 1em;
            margin: auto;
        }
        width: 100%;
    }

}


@keyframes anim-to-right {
    0%,  100% {
        transform: translateX(0);
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    70% {
        transform: translateX(30px);
        opacity: 0;
    }
}

@keyframes anim-to-left {
    0%,  100% {
        transform: translateX(0);
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    70% {
        transform: translateX(-30px);
        opacity: 0;
    }
}
