// hide element before alpine initialize
[x-cloak] { display: none !important }


//.flexbox {
//    @include displayFlex;
//}
//.page {
//    max-width: 100vw;
//    display: grid;
//    grid-gap: $grid-gap;
//    grid-template-columns: minmax($grid-gutter,1fr) repeat(10, minmax($grid-col-min, 1fr)) minmax($grid-gutter,1fr);
//}
//
//// Container with with the maximum 1024px
//.container {
//    @include margin(null auto);
//    width: $container-size;
//}
//
//
//main {
//    grid-column: 1/span 12;
//    grid-row-start: 2;
//}
