
$grid-col-min: 50px;
$grid-gap: 1em;
$grid-gutter: 1em;

$header-height: 6em;

$c-primary: #3900ff;

$c-secondary: #969da6;
// Sierra variable override
$bgc-form: white;

// badge
$bdr-badge: none;

// layout
$mwi-container: 1600px;
$mwi-container-medium: 1380px;

// Global
$container-size: clamp(200px, calc(100% - 10px), 1280px);
$secondary-color: #aab4be;


